In [85]:
import json
import pandas as pd
import numpy as np

#### create some god-damn data

In [2]:
data = {
  "items": [
    {
      "user": {
        "reputation": 42660,
        "user_id": 4909087,
        "user_type": "registered",
        "accept_rate": 96,
        "profile_image": "https://i.stack.imgur.com/q6xFr.jpg?s=128&g=1",
        "display_name": "cᴏʟᴅsᴘᴇᴇᴅ",
        "link": "https://stackoverflow.com/users/4909087/c%e1%b4%8f%ca%9f%e1%b4%85s%e1%b4%98%e1%b4%87%e1%b4%87%e1%b4%85"
      },
      "post_count": 347,
      "score": 623
    },
    {
      "user": {
        "reputation": 173184,
        "user_id": 2901002,
        "user_type": "registered",
        "accept_rate": 96,
        "profile_image": "https://i.stack.imgur.com/hMDvl.jpg?s=128&g=1",
        "display_name": "jezrael",
        "link": "https://stackoverflow.com/users/2901002/jezrael"
      },
      "post_count": 396,
      "score": 613
    },
    {
      "user": {
        "reputation": 95634,
        "user_id": 2336654,
        "user_type": "registered",
        "accept_rate": 96,
        "profile_image": "https://i.stack.imgur.com/mQIca.jpg?s=128&g=1",
        "display_name": "piRSquared",
        "link": "https://stackoverflow.com/users/2336654/pirsquared"
      },
      "post_count": 163,
      "score": 360
    },
    {
      "user": {
        "reputation": 13646,
        "user_id": 7964527,
        "user_type": "registered",
        "accept_rate": 100,
        "profile_image": "https://i.stack.imgur.com/mD4ZC.jpg?s=128&g=1",
        "display_name": "Wen",
        "link": "https://stackoverflow.com/users/7964527/wen"
      },
      "post_count": 213,
      "score": 325
    },
 ],
  "has_more": 'false',
  "quota_max": 10000,
  "quota_remaining": 9985
}

#### write it to some damn file

In [15]:
def ultimate_reader(input, filename=None):
    if not filename:
        filename = "creepier.json"
    
    try:
        with open(filename, "w+") as output:
            json.dump(input, output, indent=4)
        print("successful write")
        print("filename: {}".format(filename))
    except IOError:
        print("io error dumping")
    except ValueError:
        print("bad data in json")

#### read the damn data

In [5]:
# Reads and converts json to dict.
def js_r(input=None):
   if not input:
       input = "duster.json"
   with open(input, encoding='utf-8') as f_in:
       return(json.load(f_in))

#### process all the damn data the traditional way with code

In [6]:
my_dic_data = js_r()
keys= my_dic_data.keys()
print(keys)

dict_keys(['items', 'has_more', 'quota_max', 'quota_remaining'])

#### process all the damn data using pandas

In [7]:
creepy_data = pd.read_json("duster.json")

In [9]:
creepy_data['items'].head()

0    {'user': {'reputation': 42660, 'user_id': 4909...
1    {'user': {'reputation': 173184, 'user_id': 290...
2    {'user': {'reputation': 95634, 'user_id': 2336...
3    {'user': {'reputation': 13646, 'user_id': 7964...
Name: items, dtype: object

### Experiment with News API data

In [10]:
data_news_cancer = {"status":"ok","totalResults":7,"articles":[{"source":{"id":"cbc-news","name":"CBC News"},"author":"CBC News","title":"How Gord Downie fought to the end to reveal 'The Secret Path' to Canadians | CBC News","description":"In his last year, while living with his own tragic story of terminal cancer, singer Gord Downie was consumed by another. He was transfixed by Chanie Wenjack, a 12-year-old Anishinaabe residential school student who died of hunger and exhaustion while trying t…","url":"http://www.cbc.ca/news/entertainment/national-gord-downie-secret-path-chanie-wenjack-1.4846918","urlToImage":"https://i.cbc.ca/1.4360028.1508334030!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_620/gord-downie.jpg","publishedAt":"2018-10-12T12:53:07.8701968Z","content":"In his last year, while living with his own tragic story, Gord Downie was consumed by another. Chanie Wenjack, a 12-year-old Anishinaabe boy, ran away from a residential school in northern Ontario 52 years ago. He died of hunger and exhaustion trying to walk … [+5598 chars]"},{"source":{"id":"google-news-in","name":"Google News (India)"},"author":"Pratiksha Ramkumar","title":"Coimbatore hospital removes ‘world’s heaviest ovarian cancer tumour’ - Times of India","description":"Hospital authorities on Thursday evening said the tumour weighed 33.5kg, which is equivalent to 11 full term babies born at an average weight of 3kg e","url":"https://timesofindia.indiatimes.com/city/coimbatore/coimbatore-hospital-removes-worlds-heaviest-ovarian-cancer-tumour/articleshow/66181579.cms","urlToImage":"https://static.toiimg.com/thumb/msid-66181558,width-1070,height-580,imgsize-1331549,resizemode-6,overlay-toi_sw,pt-32,y_pad-40/photo.jpg","publishedAt":"2018-10-12T11:08:14+00:00","content":"COIMBATORE: A hospital in Coimbatore has removed what could be the worlds heaviest ovarian cancer tumour from a 46-year-old woman from Ooty. Hospital authorities on Thursday evening said the tumour weighed 33.5kg, which is equivalent to 11 full term babies bo… [+2172 chars]"},{"source":{"id":"independent","name":"Independent"},"author":"Roisin O'Connor","title":"Elvis Costello: 'I wish I could write like Lionel Richie – but heartfelt love songs just aren't what I do'","description":"The English singer-songwriter speaks about his new record 'Look Now', a ‘dramatised’ cancer operation, and why he’s unlikely to retire any of his more controversial tracks in the Time's Up era","url":"http://www.independent.co.uk/arts-entertainment/music/features/elvis-costello-interview-look-now-album-cancer-tour-dates-metoo-ed-sheeran-a8579441.html","urlToImage":"https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/10/09/16/lead-credit-james-omara-0.jpg","publishedAt":"2018-10-12T06:34:00Z","content":"Elvis Costello turned on the television one night enjoying a quiet evening after dinner with his eldest son only to find a singer on a new reality show doing a terrible impression of him. He thought he was hallucinating. I couldnt believe it! he says, settled… [+11058 chars]"},{"source":{"id":"wired","name":"Wired"},"author":"Klint Finley","title":"Microsoft Calls a Truce in the Linux Patent Wars","description":"The software giant, whose former CEO once called Linux a \\\"cancer,\\\" will let others use 60,000 patents for Linux-related open source projects.","url":"https://www.wired.com/story/microsoft-calls-truce-in-linux-patent-wars/","urlToImage":"https://media.wired.com/photos/5bbe9c0f2b915f2dff96d6f4/191:100/pass/Satya-Microsoft-MichelleG.jpg","publishedAt":"2018-10-11T23:33:03Z","content":"Microsoft is calling for a truce in the patent war. This week the company said it will allow more than 2,600 other companies, including traditional rivals like Google and IBM, to use the technology behind 60,000 Microsoft patents for their own Linux related o… [+4435 chars]"},{"source":{"id":"fortune","name":"Fortune"},"author":"Sy Mukherjee","title":"Why Cancer Biotech Allogene Just Scored an Eye Popping $324 Million IPO","description":"Cancer biotech Allogene raised a staggering $324 million in its IPO, valuing the company at more than $2 billion. Here's what the firm does.","url":"http://fortune.com/2018/10/11/biotech-allogene-ipo/","urlToImage":"https://fortunedotcom.files.wordpress.com/2018/10/allogene-ipo-biotech-e1539288031756.jpg","publishedAt":"2018-10-11T20:03:36Z","content":"Biotech’s red-hot IPO streak shows no signs of slowing down. In fact, on Thursday, cancer drug maker Allogene Therapeutics pulled off the biggest public offering in at least a decade (and one of the most lucrative, ever, period). The firm raised $324 million … [+1807 chars]"},{"source":{"id":"medical-news-today","name":"Medical News Today"},"author":"Ana Sandoiu","title":"Breast cancer: Omega-3-rich diet may stop tumors from spreading","description":"A diet rich in omega-3 fatty acids may halt the growth of cancer cells by strengthening the immune system and curbing inflammation.","url":"http://www.medicalnewstoday.com/articles/323312.php","urlToImage":"https://cdn1.medicalnewstoday.com/content/images/hero/323/323312/323312_1100.jpg","publishedAt":"2018-10-11T00:00:00Z","content":"New research shows that a diet rich in marine omega-3 fatty acids slows the growth and spread of breast cancer cells in female mice. The diet enriched with omega-3 also improved the rodents' survival. A vast body of research hails the benefits of a diet rich … [+3573 chars]"},{"source":{"id":"medical-news-today","name":"Medical News Today"},"author":"Tim Newman","title":"New risk factor for mouth cancer uncovered","description":"There are several risk factors associated with mouth cancer. A recent study conducted in Taiwan might add another to the list: air pollution.","url":"http://www.medicalnewstoday.com/articles/323289.php","urlToImage":"https://cdn1.medicalnewstoday.com/content/images/hero/323/323289/323289_1100.jpg","publishedAt":"2018-10-11T00:00:00Z","content":"In some regions, mouth cancer incidence has risen. A recent study uncovers a new risk factor that might help explain these increases. In certain parts of the world, over the past couple of decades, mouth cancer rates have soared. For instance, in the United K… [+3868 chars]"}]}

#### move the data into json

In [14]:
ultimate_reader(data_news_cancer)

successful write

#### use pandas to read the damn json

In [18]:
dumb_data = pd.read_json("creepier.json")

In [19]:
dumb_data.head()

                                            articles status  totalResults
0  {'source': {'id': 'cbc-news', 'name': 'CBC New...     ok             7
1  {'source': {'id': 'google-news-in', 'name': 'G...     ok             7
2  {'source': {'id': 'independent', 'name': 'Inde...     ok             7
3  {'source': {'id': 'wired', 'name': 'Wired'}, '...     ok             7
4  {'source': {'id': 'fortune', 'name': 'Fortune'...     ok             7

In [83]:
num_of_articles = dumb_data['totalResults'][0]

In [84]:
num_of_articles

7

In [80]:
dumb_data['articles'][0]['source']['id']

'cbc-news'

In [114]:
stuff = [dumb_data['articles'][index]['url'] for index in np.arange(num_of_articles)]

In [115]:
stuff

['http://www.cbc.ca/news/entertainment/national-gord-downie-secret-path-chanie-wenjack-1.4846918',
 'https://timesofindia.indiatimes.com/city/coimbatore/coimbatore-hospital-removes-worlds-heaviest-ovarian-cancer-tumour/articleshow/66181579.cms',
 'http://www.independent.co.uk/arts-entertainment/music/features/elvis-costello-interview-look-now-album-cancer-tour-dates-metoo-ed-sheeran-a8579441.html',
 'https://www.wired.com/story/microsoft-calls-truce-in-linux-patent-wars/',
 'http://fortune.com/2018/10/11/biotech-allogene-ipo/',
 'http://www.medicalnewstoday.com/articles/323312.php',
 'http://www.medicalnewstoday.com/articles/323289.php']

In [89]:
np.arange(7)

array([0, 1, 2, 3, 4, 5, 6])

In [68]:
source_id = ''
source_name = ''
author = ''
title = ''
description = ''
url = ''
urlToImage = ''
publishedAt = ''
content = ''

In [69]:
fields_of_interest = [source_id,
                      source_name,
                      author, 
                      title,
                      description,
                      url,
                      urlToImage,
                      publishedAt,
                      content]

In [70]:
field_names = ['news_source_id',
               'news_source_name',
               'news_author',
               'news_title',
               'news_description',
               'news_url', 
               'news_image_url', 
               'news_publication_date', 
               'news_content']

In [ ]:
"""Based on the API documentation for the top-headlines, for the
returned response, the fields that we need from each json object
are:
 the identification id of the news source
- source id 

 the name of the news source
- source name

 the author of the new article
- author

 the headline or title of the article
- title

 description from the article
- description

 url to the article
- url

 a url to a relevant image for the article
- urlToImage

 the date and time the article was published
- publishedAt

 the unformatted content of the article
- content
"""

In [38]:
nums = ['results']

In [59]:
dunk = dumb_data['status'].apply(pd.Series)

In [60]:
dunky = dumb_data['totalResults'].apply(pd.Series)

In [66]:
dunk['totalResults'] = dumb_data['totalResults'].values

In [67]:
dunk.head()

    0  totalResults
0  ok             7
1  ok             7
2  ok             7
3  ok             7
4  ok             7

In [124]:
result = {}

In [129]:
bool(result)

False

In [128]:
test_dict = {}

if not test_dict:
    print("Dict is Empty")


if not bool(test_dict):
    print("Dict is Empty")


if len(test_dict) == 0:
    print("Dict is Empty")

Dict is Empty
Dict is Empty
Dict is Empty

In [131]:
extracted_data = {'source_id': 1,
                          'source_name': 2,
                          'author': 3,
                          'title': 4,
                          'description': 5,
                          'url': 6,
                          'url_to_image': 7,
                          'published_at': 8,
                          'content': 9}

In [135]:
for i in enumerate(list(extracted_data.keys())):
    print(i)

(0, 'source_id')
(1, 'source_name')
(2, 'author')
(3, 'title')
(4, 'description')
(5, 'url')
(6, 'url_to_image')
(7, 'published_at')
(8, 'content')

In [167]:
def transform_data_to_dataframe(news_data):
        """converts a dictionary of news data into a Pandas Dataframe.

        # Arguments:
            :param data: extracted news data information.
            :type data: dict
        """

        # error-check
        if not news_data:
            raise ValueError("news data argument cannot be empty")

        field_names = ['news_source_id',
                       'news_source_name',
                       'news_author',
                       'news_title',
                       'news_description',
                       'news_url',
                       'news_image_url',
                       'news_publication_date',
                       'news_content']

        # craft the transformed dataframe
        news_df = pd.DataFrame()

        # populate the columns of the dataframe with news data
        for index, field in enumerate(list(news_data.keys())):
            print(news_data[field])
            news_df[field_names[index]] = news_data[field]

        return news_df

In [158]:
def extract_news_data_from_dataframe(frame):
        """returns extracted information from a news dataframe.

        Based on the API documentation for the top-headlines, for the
        returned response, the fields that we need from each json object
        are:

        the identification id of the news source
        - source id

        the name of the news source
        - source name

        the author of the new article
        - author

        the headline or title of the article
        - title

        description from the article
        - description

        url to the article
        - url

        a url to a relevant image for the article
        - urlToImage

        the date and time the article was published
        - publishedAt

        the unformatted content of the article
        - content

        Returns a dictionary containing all these extracted information.

        # Arguments:
            :param frame: a Pandas DataFrame containing news data
            :type frame: DataFrame
        """

        num_of_articles = frame['totalResults'][0]
        # dictionary representing the extracted news data
        extracted_data = {}

        # error check - no articles means this json had no news data
        if num_of_articles < 1:
            return extracted_data

        # Using Pandas, extract required information from the given dataframe
        # each is a return list of data.
        source_id = [frame['articles'][index]['source']['id']
                     for index in np.arange(num_of_articles)]

        source_name = [frame['articles'][index]['source']['name']
                       for index in np.arange(num_of_articles)]

        author = [frame['articles'][index]['author']
                  for index in np.arange(num_of_articles)]

        title = [frame['articles'][index]['title']
                 for index in np.arange(num_of_articles)]

        description = [frame['articles'][index]['description']
                       for index in np.arange(num_of_articles)]

        url = [frame['articles'][index]['url']
               for index in np.arange(num_of_articles)]

        url_to_image = [frame['articles'][index]['urlToImage']
                        for index in np.arange(num_of_articles)]

        published_at = [frame['articles'][index]['publishedAt']
                        for index in np.arange(num_of_articles)]

        content = [frame['articles'][index]['content']
                   for index in np.arange(num_of_articles)]

        # compose a dictionary with the extracted information
        extracted_data = {'source_id': source_id,
                          'source_name': source_name,
                          'author': author,
                          'title': title,
                          'description': description,
                          'url': url,
                          'url_to_image': url_to_image,
                          'published_at': published_at,
                          'content': content}

        return extracted_data

In [137]:
extracted_data = {'source_id': ["wired"],
                          'source_name': ["Wired"],
                          'author': ["Klint Finley"],
                          'title': ["Microsoft Calls a Truce in the Linux\
                          Patent Wars"],
                          'description': ["The software giant, whose\
                          former CEO once called\
                          Linux a \\\"cancer,\\\" will let others use 60,000\
                          patents for Linux-related open source projects."],
                          'url': ["https://www.wired.com/story/microsoft-ca\
                          lls-truce-in-linux-patent-wars/"],
                          'url_to_image': ["https://media.wired.com/photos/5bb\
                          e9c0f2b915f2dff96d6f4/191:100/pass/Satya-Microsoft-M\
                          ichelleG.jpg"],
                          'published_at': ["2018-10-11T23:33:03Z"],
                          'content': ["Microsoft is calling for a truce in the\
                           patent war. This week the company said it will\
                            allow more than 2,600 other companies, including\
                             traditional rivals like Google and IBM, to use\
                              the technology behind 60,000 Microsoft patents\
                               for their own Linux related o… [+4435 chars]"]}

In [161]:
data = pd.DataFrame()
total_results = [1]
status = ['ok']

source1 = {"source": {"id": "wired", "name": "Wired"},
                   "author": "Klint Finley", "title": "Microsoft\
                   Calls a Truce in the Linux\
                    Patent Wars", "description": "The software giant, whose\
                     former CEO once called\
                    Linux a \\\"cancer,\\\" will let others use 60,000\
                     patents for Linux-related open source pro\
                     jects.", "url": "https://www.wired.com/story/mic\
                     rosoft-calls-truce-in-linux-patent-wars/", "urlToImage": "https://med\
                     ia.wired.com/photos/5bbe9c0f2b915f2dff96d6f4/191:100/pas\
                     s/Satya-Microsoft-MichelleG.jpg", "publishedAt": "20\
                     18-10-11T23:33:03Z", "content": "Microsoft is calling\
                      for a truce in the patent war. This week the company\
                       said it will allow more than 2,600 other companies,\
                        including traditional rivals like Google and IBM,\
                         to use the technology behind 60,000 Microsoft\
                          patents for their own Linux related o… [+4435 chars]"}

articles = [source1]

data['status'] = status
data['totalResults'] = total_results
data['articles'] = articles

In [168]:
tip = transform_data_to_dataframe(extracted_data)

['wired']
['Wired']
['Klint Finley']
['Microsoft Calls a Truce in the Linux                          Patent Wars']
['The software giant, whose                          former CEO once called                          Linux a \\"cancer,\\" will let others use 60,000                          patents for Linux-related open source projects.']
['https://www.wired.com/story/microsoft-ca                          lls-truce-in-linux-patent-wars/']
['https://media.wired.com/photos/5bb                          e9c0f2b915f2dff96d6f4/191:100/pass/Satya-Microsoft-M                          ichelleG.jpg']
['2018-10-11T23:33:03Z']
['Microsoft is calling for a truce in the                           patent war. This week the company said it will                            allow more than 2,600 other companies, including                             traditional rivals like Google and IBM, to use                              the technology behind 60,000 Microsoft patents                               for their own Linux related o… [+4435 chars]']

In [169]:
tip.head()

,news_source_id,news_source_name,news_author,news_title,news_description,news_url,news_image_url,news_publication_date,news_content
0,wired,Wired,Klint Finley,Microsoft Calls a Truce in the Linux ...,"The software giant, whose ...",https://www.wired.com/story/microsoft-ca ...,https://media.wired.com/photos/5bb ...,2018-10-11T23:33:03Z,Microsoft is calling for a truce in the ...

In [155]:
str(tip['news_author'])[5]

'K'

In [178]:
tip['news_source_id']

0    wired
Name: news_source_id, dtype: object

In [163]:
topy = extract_news_data_from_dataframe(data)

In [166]:
topy['source_id']

['wired']

In [180]:
tip.to_csv(path_or_buf="smarter.csv")

In [181]:
ths = "234342_cancer_headlines.csv"

In [182]:
ths.split("_")

['234342', 'cancer', 'headlines.csv']

### Practice merging to DataFrames row-wise

In [183]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                                index=[0, 1, 2, 3])

In [184]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                                index=[4, 5, 6, 7])

In [185]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                                index=[8, 9, 10, 11])

In [297]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [301]:
super_df = pd.concat([df1, df1])
super_df

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [302]:
# super_df = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
#                          'B': ['B0', 'B1', 'B2', 'B3'],
#                                            'C': ['C0', 'C1', 'C2', 'C3'],
#                                            'D': ['D0', 'D1', 'D2', 'D3'],
#                                            'A': ['A0', 'A1', 'A2', 'A3'],
#                                            'B': ['B0', 'B1', 'B2', 'B3'],
#                                            'C': ['C0', 'C1', 'C2', 'C3'],
#                                            'D': ['D0', 'D1', 'D2', 'D3']},
#                                           index=[0, 1, 2, 3, 0, 1, 2, 3])

In [296]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [187]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [188]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [205]:
dummy_df = pd.DataFrame()

In [206]:
dummy_df

Empty DataFrame
Columns: []
Index: []

In [207]:
frames = [dummy_df, df1, df2]

In [190]:
result= pd.concat(frames)

In [191]:
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [304]:
toy = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                                           'B': ['B0', 'B1', 'B2', 'B3'],
                                           'C': ['C0', 'C1', 'C2', 'C3'],
                                           'D': ['D0', 'D1', 'D2', 'D3'],
                                           'E': ['A4', 'A5', 'A6', 'A7'],
                                           'F': ['B4', 'B5', 'B6', 'B7'],
                                           'G': ['C4', 'C5', 'C6', 'C7'],
                                           'H': ['D4', 'D5', 'D6', 'D7']},
                                          index=[0, 1, 2, 3, 4, 5, 6, 7])

ValueError: Shape of passed values is (8, 4), indices imply (8, 8)

In [208]:
result= pd.concat(frames)

In [209]:
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [192]:
pin = ['A', 'B', 'C', 'D']

In [204]:
for i, val in enumerate(pin):
    if i == len(pin) - 1:
        break
    print(pin[i])
    print(pin[i+1])

A
B
B
C
C
D

In [198]:
pin[1]

'B'

In [210]:
for i in range(pin):
    if i == len(pin) - 1:
        break
    print(pin[i])
    print(pin[i+1])

TypeError: 'list' object cannot be interpreted as an integer

In [214]:
# define global
a = 3

def pusher():
    
    global a
    for t in range(10):
        a = a + t
    print(a)

In [215]:
pusher()

48

In [216]:
th = []

In [217]:
if not th:
    print('empty')

empty

## Using Airflow S3 Hook and Amazon Boto library

import needed modules

In [246]:
import boto3

instantiate keys

In [285]:
s3 = boto3.client('s3')

In [286]:
s3.buckets

AttributeError: 'S3' object has no attribute 'buckets'

In [255]:
type(s3)

botocore.client.S3

In [287]:
s4 = boto3.resource('s3')

In [288]:
s4.buckets

s3.bucketsCollectionManager(s3.ServiceResource(), s3.Bucket)

In [257]:
type(s4)

boto3.resources.factory.s3.ServiceResource

In [274]:
from boto3.resources.factory import ServiceResource

In [284]:
type(boto3.client('s3'))

botocore.client.S3

In [ ]:
import sys
current_module = sys.modules[__name__]

In [264]:
boto3.client.__doc__

'\n    Create a low-level service client by name using the default session.\n\n    See :py:meth:`boto3.session.Session.client`.\n    '

In [265]:
boto3.session.Session.client.__doc__

'\n        Create a low-level service client by name.\n\n        :type service_name: string\n        :param service_name: The name of a service, e.g. \'s3\' or \'ec2\'. You\n            can get a list of available services via\n            :py:meth:`get_available_services`.\n\n        :type region_name: string\n        :param region_name: The name of the region associated with the client.\n            A client is associated with a single region.\n\n        :type api_version: string\n        :param api_version: The API version to use.  By default, botocore will\n            use the latest API version when creating a client.  You only need\n            to specify this parameter if you want to use a previous API version\n            of the client.\n\n        :type use_ssl: boolean\n        :param use_ssl: Whether or not to use SSL.  By default, SSL is used.\n            Note that not all services support non-ssl connections.\n\n        :type verify: boolean/string\n        :param verify: Whether or not to verify SSL certificates.  By default\n            SSL certificates are verified.  You can provide the following\n            values:\n\n            * False - do not validate SSL certificates.  SSL will still be\n              used (unless use_ssl is False), but SSL certificates\n              will not be verified.\n            * path/to/cert/bundle.pem - A filename of the CA cert bundle to\n              uses.  You can specify this argument if you want to use a\n              different CA cert bundle than the one used by botocore.\n\n        :type endpoint_url: string\n        :param endpoint_url: The complete URL to use for the constructed\n            client. Normally, botocore will automatically construct the\n            appropriate URL to use when communicating with a service.  You\n            can specify a complete URL (including the "http/https" scheme)\n            to override this behavior.  If this value is provided,\n            then ``use_ssl`` is ignored.\n\n        :type aws_access_key_id: string\n        :param aws_access_key_id: The access key to use when creating\n            the client.  This is entirely optional, and if not provided,\n            the credentials configured for the session will automatically\n            be used.  You only need to provide this argument if you want\n            to override the credentials used for this specific client.\n\n        :type aws_secret_access_key: string\n        :param aws_secret_access_key: The secret key to use when creating\n            the client.  Same semantics as aws_access_key_id above.\n\n        :type aws_session_token: string\n        :param aws_session_token: The session token to use when creating\n            the client.  Same semantics as aws_access_key_id above.\n\n        :type config: botocore.client.Config\n        :param config: Advanced client configuration options. If region_name\n            is specified in the client config, its value will take precedence\n            over environment variables and configuration values, but not over\n            a region_name value passed explicitly to the method. See\n            `botocore config documentation\n            <https://botocore.readthedocs.io/en/stable/reference/config.html>`_\n            for more details.\n\n        :return: Service client instance\n\n        '

In [259]:
import botocore.client

In [261]:
dir(botocore.client)

['AUTH_TYPE_MAPS',
 'BaseClient',
 'CachedProperty',
 'ClientArgsCreator',
 'ClientCreator',
 'ClientEndpointBridge',
 'ClientError',
 'ClientMeta',
 'ClientMethodDocstring',
 'Config',
 'DataNotFoundError',
 'OperationNotPageableError',
 'Paginator',
 'PaginatorDocstring',
 'S3RegionRedirector',
 'S3_ACCELERATE_WHITELIST',
 'ServiceModel',
 'UNSIGNED',
 'UnknownSignatureVersionError',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_get_configured_signature_version',
 'first_non_none_response',
 'fix_s3_host',
 'functools',
 'get_global_history_recorder',
 'get_service_module_name',
 'history_recorder',
 'logger',
 'logging',
 'prepare_request_dict',
 'switch_host_s3_accelerate',
 'switch_to_virtual_host_style',
 'urlsplit',
 'waiter',
 'xform_name']

In [252]:
response = s3.list_buckets()

In [253]:
response

{'Buckets': [{'CreationDate': datetime.datetime(2018, 7, 20, 2, 17, 46, tzinfo=tzutc()),
   'Name': 'davidolorundare.com'},
  {'CreationDate': datetime.datetime(2018, 10, 15, 19, 34, 14, tzinfo=tzutc()),
   'Name': 'tempus-bonus-challenge-csv-headlines'},
  {'CreationDate': datetime.datetime(2018, 10, 15, 19, 33, 23, tzinfo=tzutc()),
   'Name': 'tempus-challenge-csv-headlines'}],
 'Owner': {'DisplayName': 'david.o',
  'ID': '1fc9781b274f8e6fc3485bbd74f27a06c4935e4a58b86eeaa00ebccb69177cb0'},
 'ResponseMetadata': {'HTTPHeaders': {'content-type': 'application/xml',
   'date': 'Tue, 16 Oct 2018 04:48:46 GMT',
   'server': 'AmazonS3',
   'transfer-encoding': 'chunked',
   'x-amz-id-2': 'OKcCIeof38HA5HBM6a3xHkexAn661svQeDQ3vVpaJy3XzrcaW7mD1FFSbxjVV6f4h6ewJshcdkw=',
   'x-amz-request-id': '7C40C539F5641848'},
  'HTTPStatusCode': 200,
  'HostId': 'OKcCIeof38HA5HBM6a3xHkexAn661svQeDQ3vVpaJy3XzrcaW7mD1FFSbxjVV6f4h6ewJshcdkw=',
  'RequestId': '7C40C539F5641848',
  'RetryAttempts': 0}}

In [240]:
# for bucket in s3.buckets.all():
#     print(bucket.name)

In [293]:
thingy = s3.upload_file("dummy_text_file.txt", "tempus-challenge-csv-headlines", "dummy.txt")
s3.upload_file("dummy_text_file.txt", "tempus-bonus-challenge-csv-headlines", "dummy.txt")

In [249]:
type(thingy)

NoneType

In [ ]:
# using airflow

In [289]:
pencil = "something"
nothing = ""

In [291]:
if not pencil:
    print('yes')
else:
    print('no')

no

In [294]:
sf = "2018-10-16 12:36:40.415905_sample.csv"

In [295]:
sf.split("_")

['2018-10-16 12:36:40.415905', 'sample.csv']